.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2.5em;
}

.container {
  width: 95%;
  border-radius: 8.906px;
  background: rgba(217, 217, 217, 0.12);
  box-shadow: -3.943px 3.943px 3.943px 0px rgba(255, 255, 255, 0.43) inset,
    3.943px -3.943px 3.943px 0px rgba(182, 182, 182, 0.43) inset;
  backdrop-filter: blur(25.034873962402344px);
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bannerContainer {
  color: #fff;
  font-size: 17.813px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.95px; /* 112% */
}

.actionContainer {
  display: flex;
  gap: 2rem;
}
